@model WebBanSach.Models.Sach
@{
    int soluong = 0;
}


<div class="col=md-6">
    <article class="produst-info-aside">
        <form asp-action="AddToCart" asp-controller="GioHangs" asp-route-id="@Model.ID_Sach">
            <h2 class="title_box mt-3">@Model.TenSach</h2>
            <img class="product_img col-sm-2" src="~/img/@Model.HinhAnh" />
            <ul class="col-sm-8">
                <li>Giá : @Model.Gia</li>
                <li>Số trang :@Model.SoTrang</li>
                <li>Tái bản: @Model.TaiBan</li>
                <li>Nhà xuất bản: @Model.MaNXB</li>
                <li>Số lượng: @Model.SoLuong</li>
                <li>
                    Tác giả:@foreach (var item in ViewBag.TacGia)
                    {
                        <span>@item.HoVaTen - </span>
                    }
                </li>
                <li>  Số lượng mua:   <input type="number" name="SoLuong" min="1" step="1" id="number" max="@Model.SoLuong" value="1" />
                </li>

                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("KhachHang"))
                    {

                        <button type="submit" class="btn btn-primary btn-sm"> Thêm vào giỏ hàng </button>
                    }
                }
                else
                {

                    <a asp-action="Qllogin" asp-controller="Home" id="dangnhap" class="btn btn-primary btn-sm"> Đăng nhập để mua hàng </a>


                }


            </ul>

        </form>

    </article>
</div>

@section scripts{
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).ready(function () {
        $("#dangnhap").click(function () {

            Swal.fire({
              title: 'Đăng nhập để mua hàng',
              showDenyButton: true,
              timer:10000,

              showCancelButton: true,
              confirmButtonText: 'Save',
              denyButtonText: `Don't save`,
            }).then((result) => {
              /* Read more about isConfirmed, isDenied below */
              if (result.isConfirmed) {

                Swal.fire('Saved!', '', 'success')
              } else if (result.isDenied) {
                Swal.fire('Changes are not saved', '', 'info')
              }
            })
        });
    });
</script>


}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>