@model IEnumerable<WebBanSach.ModelView.ViewHoaDon>
@{
    ViewData["Title"] = "Index";
   
}
<h1>Danh sách hóa đơn</h1>
<a asp-action="HoaDonCT">Hóa đơn chi tiết</a>
<form asp-controller="HoaDon" asp-action="Index" method="post">
    <p>
        Tìm kiếm: <input  type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
     <p>
        Ngày bắt đầu : <input  type="datetime" name="star" />
        Ngày kết thúc :<input  type="datetime" name="end" />
        <input type="submit" value="TÌM" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Khách Hàng 
            </th>
            <th>
                Tên Sản Phẩm
            </th>
            <th>
               Số Lượng
            </th>
            <th>
               Tổng Tiền
            </th>
            <th>
                Ngày mua
            </th>        
            <th>
               Đơn Gía
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
 
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.khachHang.HoVaTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sach.TenSach)               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hoaDonCT.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hoaDon.TongTien)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.hoaDon.NgayMua)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.sach.Gia)
            </td>
           
        </tr>
}
    </tbody>
</table>